:host {
    display: block;
    margin-top: 16px;
}

mat-spinner {
    margin: auto;
}

.info-text {
    text-align: center;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
    box-shadow: 1px, 1px, 5px, rgba(0, 0, 0, 0.5);
}

.creationDate {
    text-align: right;
    font-style: italic;
    font-size: small;
}

.postContent {
    margin-top: 32px;
}

mat-paginator { 
    margin-top: 16px;
}

.title {
    text-align: center;
    color: #3F51B5;
}